<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MainMapper">

	<select id="login" resultType="UserDto">
		select * from user where userId=#{userId} and password=#{password}
	</select>
	
	<select id="boardList" resultType="ArticleDto">
		select a.no, a.title, a.date, b.userId writer
		from board a left join user b
		on a.userNo = b.no
	</select>
	
	<select id="checkId"  resultType="Integer">
		SELECT count(*) FROM user where userId=#{userId}
	</select>
	
	<insert id="userInsert" parameterType="UserDto">
		insert into user (userId, password)
		values (#{userId}, #{password});
	</insert>
	
	<insert id="articleInsert">
		insert into board (title, date, content, userNo)
		values( #{title},#{date},#{content},#{userNo} )
	</insert>
	
	<select id="readArticle" resultType="ArticleDto">
		select a.no, a.title, a.date, b.userId writer, a.content, a.userNo
		from board a left join user b
		on a.userNo = b.no
		where a.no=#{no}
	</select>

	<insert id="addReply" >
		insert into reply (content, date, articleNo, userNo)
		values (#{content},#{date},#{articleNo},#{userNo})
	</insert>
	
	<select id="replyList" resultType="ReplyDto">
		select a.no, a.content, a.date, b.userId writer, a.userNo
		from reply a left join user b
		on a.userNo=b.no
		where a.articleNo=#{articleNo}
		order by date asc
	</select>
	
	<delete id="deleteReply">
		delete from reply
		where no=#{no}
	</delete>
	
	<delete id="deleteArticle">
		delete from board
		where no=#{no}
	</delete>
	
	<delete id="deleteArticleReply">
		delete from reply
		where articleNo=#{articleNo}
	</delete>
	
	<update id="editArticle">
		update board
		set title=#{title}, content=#{content}, date=#{date}  
		where no=#{no}
	</update>
	
	<select id="replycount" resultType="Integer">
		SELECT count(*) FROM reply where articleNo=#{articleNo}
	</select>
	
	<select id="userList" resultType="UserDto">
		select no, userId from user
	</select>
	
	<select id="getUser" resultType="UserDto">
		select no, userId, userType from user where no = #{no}
	</select>
	
	<select id="getUserType" resultType="String">
		select userType from user where no = #{no}
	</select>
	
	<update id="userPassReset">
		update user
		set password = #{password}
		where no=#{no}
	</update>
	
	<update id="userTypeReset">
		update user
		set userType = #{userType}
		where no=#{no}
	</update>
	
	<delete id="deleteUser">
		delete from user
		where no=#{no}
	</delete>
	
	<delete id="deleteUserReply">
		delete from reply
		where no=#{no}
	</delete>
	
	<delete id="deleteUserArticle">
		delete from board
		where no=#{no}
	</delete>
	
	<select id="getPassword"  resultType="String">
		select password from user where no=#{no}
	</select>
	
	
</mapper>