<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MainMapper">

	<select id="login" resultType="UserDto">
		select * from user where userId=#{userId} and password=#{password}
	</select>
	
	<select id="BoardList" resultType="ArticleDto">
		select id, title, date, writer from board
	</select>
	
	<insert id="userInsert" parameterType="UserDto">
		insert into user (userId, password)
		values (#{userId}, #{password});
	</insert>
	
	<insert id="articleInsert">
		insert into board (title, date, writer, content, userId)
		values( #{title},#{date},#{writer},#{content},#{userId} )
	</insert>

</mapper>