<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MainMapper">

	<select id="login" resultType="UserDto">
		select * from user where userId=#{userId} and password=#{password}
	</select>
	
	<select id="BoardList" resultType="ArticleDto">
		select no, title, date, writer from board
	</select>
	
	<insert id="userInsert" parameterType="UserDto">
		insert into user (userId, password)
		values (#{userId}, #{password});
	</insert>
	
	<insert id="articleInsert">
		insert into board (title, date, writer, content, userNo)
		values( #{title},#{date},#{writer},#{content},#{userNo} )
	</insert>
	
	<select id="ReadArticle" resultType="ArticleDto">
		select id, title, date, writer, content, userNo from board
		where id=#{id}
	</select>

	<insert id="AddReply" >
		insert into reply (content, date, articleId, userNo, writer)
		values (#{content},#{date},#{articleId},#{userNo},#{writer})
	</insert>
	
	<select id="ReplyList" resultType="ReplyDto">
		select id, content, date, writer, userNo
		from reply
		where articleNo=#{articleNo}
		order by date asc
	</select>
	
	<delete id="DeleteReply">
		delete from reply
		where no=#{no}
	</delete>
	
	<delete id="DeleteArticle">
		delete from board
		where no=#{no}
	</delete>
	
	<delete id="DeleteArticleReply">
		delete from reply
		where articleNo=#{articleNo}
	</delete>
	
	<update id="EditArticle">
		update board
		set title=#{title}, content=#{content}, date=#{date}  
		where no=#{no}
	</update>
	
	<select id="replycount" resultType="Integer">
		SELECT count(*) FROM reply where articleNo=#{articleNo}
	</select>
	
</mapper>